.container{
  width: 100%;
  height: 100%;
  position: relative;
  .title_box{
    width: 400px;
    height: 40px;
    position: relative;
    img{
      width: 50px;
      position: absolute;
      top: -15px;
    }
    .left_title{
      position: absolute;
      left: 50px;
      top: -15px;
    }
    .en_desc{
      position: absolute;
      left: 55px;
      top: 10px;
    }
  }
  .left_title,.right_title{
    font-size: 20px;
    position: absolute;
  }
  .left_title{
    left: 20px;
  }
  .right_title{
    right: 20px;
    top: 15px;
  }
  .box{
    display: flex;
    height: 90%;
    .left_box,.right_box{
      .title{
        font-size: 18px;
      }
      padding: 10px;
      box-sizing: border-box;
    }
    .left_box{
    width: 250px;
    height: 90%;
    margin:20px 0 0 20px;
    border-radius: 15px;
  }
  .con_box{
    width: 1050px;
    height: 90%;
    margin: 0 50px;

    .title{
    text-align: center;
    font-size: 25px;
    }
    .nav_svg_box{
    width: 100%;
    margin-bottom: 20px;
    .nav_svg{
      display: flex;
      justify-content: center;
    }
  }
  }
  .right_box{
    width: 250px;
    height: 90%;
    margin:20px 20px 0 0;
    border-radius: 15px;
  }
  }
  @keyframes d1 {
      50% {
          transform: scale(1.5,1.5);
      }

      100% {
          transform: scale(1,1);
      }
    }
    @keyframes move {
      0%{}
      100%{
          transform: translateY(-50%);
      }
  }
}
